/* WeatherInputForm.css */

.weather-input {
    max-width: 100%;
    margin: 1% 2% ;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 0.7); /* Change the alpha (0.7) to control transparency */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Center the content within the card */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  
  .weather-input h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .weather-input label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .weather-input select,
  .weather-input input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .weather-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .weather-input ul li {
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .weather-input ul li:hover {
    color: #007BFF; /* Change the color on hover as desired */
  }
  
  .weather-input button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .weather-input button[type="submit"]:hover {
    background-color: #0056b3; /* Change the background color on hover as desired */
  }
  